/*logo*/
/*.top-bar .logo
{
    background: transparent url(company-logo.png?1398276356) no-repeat center center;
}*/

/*top bar with title*/
/*.top-bar h2
{
    background-color: #00AEEF;
    text-shadow: 0px 2px 0px #33297a;
}*/
/*Audio player*/
/*div.jp-play-bar
{
    background: #00AEEF;
}*/

/*a.jp-play:hover, a.jp-pause:hover
{
    color: #00AEEF;
}*/

/* resources menu*/
/*.toolbar .resources-menu a:hover
{
    color: #EC008C;
}*/
/* menu*/
/*.topic-link-list h2
{
    color: #EC008C;
}*/

/*.topic-link-list li.active
{
    border-left: 8px solid #EC008C;
}*/

/*.topic-link-list li.active i
{
    color: #EC008C;
}*/
/*h tags*/
/*h3
{
    color: #000;
}*/
/*h4
{
        color: #000;
}
.page h4
{
    color: #EC008C;
}*/
/*
.page h7
{
    color: #33297a;
}

.page h5
{
    color: #33297a;
}*/
/* glossary terms */
/*a.term, a.term:hover, a.term:visited, a.term:focus
{
    color: #EC008C;
}*/

/*.glossary .letter-list a, .glossary .letter-list a:hover, .glossary .letter-list a:visited
{
    color: #EC008C;
}*/
/* glossary */
/*.glossary .definition h2
{
    color: #EC008C;
}*/

/*.glossary .term-list li.section
{
    color: #EC008C;
}*/

/*.glossary .term-list a.selected, .glossary .term-list a.selected:hover, .glossary .term-list a.selected:visited
{
    border-left: 4px solid #EC008C;
}*/
/* - + toggle*/
/*.widget-more-accordion a.title, .widget-more-accordion a.title:hover, .widget-more-accordion a.title:visited, .widget-more-accordion a.title:active
{
    background: #5d5596;
}

.widget-more-accordion i
{
    background: #e4ab34;
}

.widget-more-accordion.is-opened .content
{
    border-left: 1px solid #33297a;
    border-right: 1px solid #33297a;
    border-bottom: 2px solid #33297a;
}

.widget-more-accordion.is-opened a.title, .widget-more-accordion.is-opened a.title:hover, .widget-more-accordion.is-opened a.title:visited, .widget-more-accordion.is-opened a.title:active
{
    background: #33297a;
}

.widget-more-accordion.is-opened i
{
    background: #d18e27;
}*/
/*verticle tabs*/
/*.widget-vertical-tabs a.title:hover, .widget-vertical-tabs .selected a.title, .widget-vertical-tabs .active a.title
{
    background: #5d5596;
}

.widget-vertical-tabs a.title:hover
{
    background: #5d5596;
}*/

/* categorization */
/*.ile-category .categories .icon-circle, .ile-characterize .categories .icon-circle
{
    color: #e4ab34;
}*/
/* matching 
.ile-matching .item, .ile-matching .item:hover, .ile-matching .item:focus
{
    background: #5d5596;
    border: 4px solid #33297a;
}

    .ile-matching .item.active
    {
        background: #e4ab34;
        border: 4px solid #d18e27;
    }*/
/* multiple select */
/*.ile-multiple-choice .question li.selected span, .ile-assessment .question li.selected span
{
    background-color: #e4ab34;
}

.ile-multiple-choice .question li.selected, .ile-assessment .question li.selected
{
    background: #c7c4da;
}*/

/* buttons in module */
/*.btn.btn-primary
{
    background: #5d5596;
    border-color: #33297a;
}*/

/*.modal .header */
/*.modal .header
{
    background-color: #00AEEF;
}*/
/* table */
.BrandTable {
  width:100%;
}

.BrandTable th{
	color: #FFF;
	background-color: #0073CF;
  border:solid 1px #FFF;
  text-align:center;
  padding-left:5px;
}

.BrandTable td{
  border:solid 1px #FFF;
  text-align:center;
  padding-left:5px;
  background-color:#CEE3F6;
}

.BrandTable td li{
 margin:0;
 padding:0;
 vertical-align:top;
 text-align:left;
}

.BrandTable .alternatingrow {
    background-color: #6495ED;
}

.BrandTable .lastrow {
    color: #ffffff;
	background-color: #000000;
}

.BrandTable .HighLightColumn {
    color: #FFF;
	background-color: #0073CF;
  border:solid 1px #FFF;
  text-align:center;
  padding-left:5px;
}

.HighLightColumn {
    color: #FFF;
	background-color: #0073CF;
  border:solid 1px #0073CF;
  text-align:center;
  padding-left:5px;
}
/* zoom position below image */
.widget-image-zoom i
{
    position:relative;
}

/* removes the colon and uses the value in the course.json */
/*.page .title-container h3::after{content:''}*/

/*exit button*/
#btn-exit
{
    position: relative;
    z-index:100;
    color:rgb(112,112,115);
    right:10px;
    top:7px;
}