<h1>All Users</h1>

<table>
  <tr>
    <th>Email</th>
    <th>Role</th>
    <th>Courses</th>
  </tr>
  <% @users.each do |u| %>
    <tr>
      <td><%= u.email %></td>
      <td><%= u.role %></td>
      <td><%= u.courses.count %></td>
      <td><%= link_to "Details", user_path(u.id) %></td>
    </tr>
  <% end %>
</table>
