<h1>Clients</h1>

<%= link_to "Add Client", new_client_path %>

<br><br>

<table>
  <tr>
    <th>Name</th>
  </tr>
  <% @clients.each do |client| %>
    <tr>
      <td><%= client.name %></td>
      <td><%= link_to 'Show', client_path(client) %></td>
      <td><%= link_to 'Destroy', client_path(client),
        method: :delete,
        data: { confirm: 'Are you sure?' }  %></td>
    </tr>
  <% end %>
</table>
