<div class="site-wrapper text-center">
  <div class="cover-container">
    <div class="inner cover">
      <h1 class="cover-heading">Sample Site</h1>
      <h3>by Ken Hom</h3>
      <div class="lead">
        <p>This is a sample web app for practice using postgreSQL database and Auth0.</p>
        <p>It contains user functionality with roles, and the ability to upload zip files containing eLearning courses.</p>
      </div>
      <% if !current_user %>
        <button class="btn btn-large" onclick="window.signin();">Login</button>
      <% end %>
    </div>
  </div>
</div>
<br/>



<script src="https://cdn.auth0.com/js/lock-8.1.min.js"></script>
<script type="text/javascript">

  var lock = new Auth0Lock('8aaQMduzxMBRIAAi4SWAwbaHc1WGFXRk', 'pinsonault.auth0.com');

  function signin() {
    lock.show({
        callbackURL: 'http://localhost:3000/auth/auth0/callback',
        responseType: 'code',
        authParams: {
          scope: 'openid profile'
        }
    });
  }
</script>





</div>
