<h1>Amethyst</h1>

<script src="https://cdn.auth0.com/js/lock-8.1.min.js"></script>
<script type="text/javascript">

  var lock = new Auth0Lock('8aaQMduzxMBRIAAi4SWAwbaHc1WGFXRk', 'pinsonault.auth0.com');

  function signin() {
    lock.show({
        callbackURL: 'http://localhost:3000/auth/auth0/callback',
        responseType: 'code',
        authParams: {
          scope: 'openid profile'
        }
    });
  }
</script>

<% if !current_user %>
  <button onclick="window.signin();">Login</button>
<% end %>
<br/>
